/ViennaPS/ViennaPS.rar
/ViennaPS/.vs/ViennaPS/v15/Browse.VC.db
/Sentaurus/Data/csvfiles
/Sentaurus/csvfiles
/Sentaurus/file12_2150/csvfiles
/Sentaurus/file12_1700/csv_files
/Sentaurus/TestDataset
/Sentaurus/GAA struct 1/new_interval/csvfiles
/Sentaurus/GAA struct 1/new_interval/tdrfiles
/Sentaurus/GAA struct 1/new_interval/pmcfiles
/Sentaurus/GAA struct 1/new_interval/images
/Sentaurus/file12_1700
/Sentaurus/file12_2150
/Sentaurus/file12_1700
/Sentaurus/file12_1700
/Sentaurus/*.tar.gz